body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
    background-color: antiquewhite;
    background: url(https://i.pinimg.com/736x/a9/f6/14/a9f61436b34cb0b794d2a0770e434faa.jpg);
}
.fond_noir{
    background-color: rgba(37, 6, 69, 0.689);
}